NODE_ENV=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=

JWT_SECRET_KEY=
JWT_EXPIRATION_TIME=
REFRESH_TOKEN_EXPIRES_IN_DAYS=
MAX_ACTIVE_SESSIONS_PER_USER=

# Recommended: test=4, dev=10, prod=1214
BCRYPT_COST=

# Cookies max-age and secure
COOKIE_SECURE=
ACCESS_TOKEN_EXPIRES_IN_MINUTES=
